{{> header}}

<div class="container" id='containerItems'>
    <div class="row">
        <div class="col">
            <div id="contenedorProductos" class="row row-cols-1 row-cols-md-3 g-4">
                {{#each payload}}
                <div id="productoItem" class="card">
                    <img src="{{this.thumbnail}}" class="card-img-top" alt="{{this.title}}">
                    <div class="card-body">
                        <span>
                            <h2 style="font-size: 30px; margin-top: -5px;">{{this.title}}</h2>
                        </span>
                        <span>
                            <p style="margin-top: -5px;">${{this.price}}</p>
                        </span>
                        <button id="btnComprar" onclick="addToCart('{{this._id}}')" class="btn btn-dark" style="margin-top: -10px;">Comprar</button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <script>
        function addToCart(productId) {
            const idCart = '6567d6196d64c4733491d04a'
            fetch(`/api/carts/${idCart}/product/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
                .then(resp => resp.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.log('Error: ', error)
                })
        }
    </script>        
</div>

{{> footer}}