<<<<<<< HEAD
<header>
    <!-- Sección navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Made In Heaven</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/products">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/realtimeproducts">Productos en tiempo real</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/carts">Chat</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div>
    <h1>Real time product</h1>

    <h3>Lista de productos:</h3>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Código</th>
                <th>Stock</th>
                <th>category</th>
                <th>status</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody id="productos-body">
        </tbody>
    </table>

    <h2>Agregar Producto</h2>

    <form id="producto-form">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" required>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" required>

        <label for="codigo">Código:</label>
        <input type="text" id="codigo" name="codigo" required>

        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" required>

        <label for="categoria">Categoría:</label>
        <input type="text" id="categoria" name="categoria" required>

        <button type="submit">Agregar Producto</button>
    </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
=======
<div class="container bg-dark">
    <h2 class="text-center text-white text-uppercase py-2">En Tiempo Real:<br> Lista de Productos</h2>

    <hr class="text-white"/>

    <div class="card mb-5 col-md-6 offset-md-3">
        <div class="card-header text-center">
            <h5 class="fw-semibold text-uppercase">Formulario para crear producto</h5>
        </div>
        <div class="card-body">
            <form id="form">
                <div class="mb-2">
                    <label for="title" class="form-label fw-semibold">Nombre del roducto:</label>
                    <input type="text" id="title" class="form-control" name="title" required/>
                </div>
                <div class="mb-2">
                    <label for="description" class="form-label fw-semibold">Descripción:</label>
                    <input
                        type="text"
                        class="form-control"
                        name="description"
                        id="description"
                        required
                    />
                </div>
                <div class="mb-2">
                    <label for="price" class="form-label fw-semibold">Precio:</label>
                    <input
                        type="number"
                        class="form-control"
                        name="price"
                        id="price"
                        step="0.01"
                        required
                    />
                </div>
                <div class="mb-2">
                    <label for="code" class="form-label fw-semibold">Código:</label>
                    <input type="text" class="form-control" name="code" id="code" required/>
                </div>
                <div class="mb-2">
                    <label class="form-label fw-semibold">Imágen</label>
                    <input name="thumbnail" class="" id="thumbnai" type="file">
                </div>
                <div class="mb-2">
                    <label for="category" class="form-label fw-semibold">Categoría:</label>
                    {{!-- <input
                        type="text"
                        class="form-control"
                        name="category"
                        id="category"
                        required
                    /> --}}
                    <select class="form-select" aria-label="Default select example" name="category" id="category" required>
                        <option selected>Elige una opción</option>
                        <option value="faldas">Faldas</option>
                        <option value="remeras">remeras</option>
                        <option value="vestidos">Vestidos</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="stock" class="form-label fw-semibold">Stock:</label>
                    <input
                        type="number"
                        class="form-control"
                        name="stock"
                        id="stock"
                        required
                    />
                </div>
                <button type="submit" class="btn btn-dark form-control fw-bold" id="addProduct">Crear Producto</button>
            </form>
        </div>
    </div>

<div class="container" id='containerItems'>
            <div class="row">
                <div class="col">
                    <div id="productList" class="row row-cols-1 row-cols-md-3 g-4">
                    {{#if products}}
                    {{#each products}}
                        <div id="productoItem" class="card">
                        <img src="{{this.thumbnail}}" class="card-img-top" alt="{{this.title}}">
                        <div class="card-body">
                            <span><h2 style="font-size: 30px; margin-top: -5px;">{{this.title}}</h2></span>
                            <span><p style="margin-top: -5px;">${{this.price}}</p></span> 
                            <button id="btnDelete" onclick="deleteProduct({{this.id}})" class="btn btn-dark" style="margin-top: -10px;">Eliminar</button>                   
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                    </div>
                </div>
            </div>            
        </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/RealTimeProducts.js"></script>
>>>>>>> 9d259a333a12a765399b3a5c46f1ff480a996f00
